@import 'tailwindcss';

@font-face {
  font-family: 'Cafe24Decobox';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-sans: Pretendard, sans-serif;
  --font-decobox: 'Cafe24Decobox', sans-serif;

  --color-gray-0: #111111;
  --color-gray-10: #1e1e1e;
  --color-gray-20: #454545;
  --color-gray-30: #656565;
  --color-gray-40: #7f7f7f;
  --color-gray-50: #939393;
  --color-gray-60: #a7a7a7;
  --color-gray-70: #bababa;
  --color-gray-80: #c8c8c8;
  --color-gray-90: #d7d7d7;
  --color-gray-100: #e3e3e3;

  --color-main: #31c690;
  --color-green-10: #135d42;
  --color-green-20: #1b7454;
  --color-green-30: #259c72;
  --color-green-40: #27d79c;
  --color-green-50: #7edcba;
  --color-green-60: #a7e7cf;
  --color-green-70: #d0f2e4;
  --color-green-80: #dff6ee;

  --color-bg-main: #f7fffc;
  --color-bg-login: #fefefe;
  --color-bg-opacity: #0000001a;

  --color-main-card: #fafafa;
  --color-high-emphasis: #ededed;
  --color-input: #fefefe;

  --color-grad-start: var(--color-green-50);
  --color-grad-end: var(--color-main);

  --color-pastel-red: #ffadad;
  --color-pastel-orange: #ffd6a5;
  --color-pastel-yellow: #fdffb6;
  --color-pastel-green: #caffbf;
  --color-pastel-cyan: #9bf6ff;
  --color-pastel-blue: #a0c4ff;
  --color-pastel-purple: #bdb2ff;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: var(--font-family-sans);
}
